.nav{
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  background-blend-mode: darken;
  background-size: cover;
  color: white;
  padding: 10px 20px;
  background-color:green;
}
.nav-list {
  display: flex;
  list-style: none;
}
.nav-list li{
  margin-right:15px;
}
input[type="text"]{
  border:none;
  padding:5px;
}
button{
  margin:0;
}
a:link { text-decoration: none; }
a:visited {text-decoration: none; }
a:hover { 
  text-decoration: underline;
  border:none;
  border-radius:2px;
  padding:3px;}
a:active { text-decoration: none; }
a{
  color:black;
}
/* 
body{ 
 background-image: url('C:/Users/ramch/OneDrive/Desktop/React-Router-Project/my-react-router/src/tatva.jpg');
 background-size: cover;

} */
h1{
  text-align: center;
  font-size:4em;
  font-weight:bold;
  color:brown
}
p{
  text-align:center;
  font-size: 2em;
  color:black;
}
a{
  text-align: center;
}
img{
   display:block;
   margin-left:auto;
   margin-right:auto;
   width:50%;
}
.anchor{
  color:blue;
}
h2{
  text-align: center;
}
.anchor{
  text-align: center;
  font-size:2em;
  margin-bottom:1px;
  padding:0;
}
