body{
  display:flex;
  flex-direction: column;
  align-items:center;
  background-color: antiquewhite;
}
.stopwatch{
  display:flex;
  flex-direction: column;
  align-items:center;
  border:5px solid;
  border-radius:50px;
  background-color: white;
  padding:10px;
}
.display{
  font-family:monospace;
  font-size:4rem;
  font-weight:bold;
  color:hsla(0, 0%, 0%, 0.301);
  margin:5px;
  text-shadow: 2px 2px 2px blue;
  margin-bottom:25px;
}
.controls{
  padding:5px;
  margin:15px;
}
.start-button, .stop-button ,.reset-button{ 
  margin-right:10px;
  border-radius:5px;
  padding:4px;
  font-weight:bold;
}
.start-button{
  background-color:hsl(120, 91%, 25%);
}
.start-button:hover{
  background-color:hsl(120, 91%, 15%);
  cursor:pointer;
}
.stop-button{
  background-color:hsla(0, 97%, 49%);
}
.stop-button:hover{
  background-color:hsla(0, 97%, 39%);
  cursor:pointer;
}
.reset-button{
  background-color:hsla(0, 64%, 31%, 0.599);
}
.reset-button:hover{
  background-color:hsla(0, 64%, 21%, 0.599);;
  cursor:pointer;
}
